.footer-container{
    margin-top: 20px;

    .get-in-touch{
        background-color: var(--blue-60);
        color: var(--dark-06);
        border-radius: 10px;
        height: 260px;
        padding: 50px 100px 50px 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .footer-content{
            display: flex;
            flex-direction: column;
            font-family: var(--font-family-flex);
            gap: 4px;

            .title{
                text-transform: uppercase;
                font-size: 2.2em;
                font-weight: 500;
            }
            .description{
                font-size: 1em;
                color: var(--dark-15);
            }
        }

        .footer-button{
            align-self: end;
            
            .primary-button{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                gap: 10px;
                padding: 18px 34px;
                width: 210px;
                background: var(--dark-06);
                border-radius: 12px;
                color: var(--blue-90);
                font-size: 16px;
                cursor: pointer;
                transition: var(--transition-base);

                .arrow{
                    fill: var(--blue-90);   
                }

                &:hover {
                    background-color: var(--dark-15);
                }
            }
        }
    }

    .bootom-section{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        display: flex;
        gap: 20px;

        .left {
            width: 40%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);      
            gap: 20px;
            
            .card{
                display: flex;
                flex-direction: column;
                padding: 34px;
                background-color: var(--dark-10);
                gap: 20px;
               
                .top{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .icon{
                        border-radius: 10px;
                        background-color: var(--dark-12);
                        padding: 10px;
                        color: var(--blue-60);   
                        border: 1px solid var(--dark-20);
                    }

                    .card-arrow{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50px;
                        background-color: var(--dark-12);
                        padding: 12px;
                        background-color: var(--dark-20);
                        fill: var(--blue-80);
                        cursor: pointer;
                    }
                }

                .bottom{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: start;
                 
                    .title{
                        text-transform: uppercase;
                        font-size: 1.4em;
                        font-weight: 400;
                        color: var(--blue-95);
                    }
                    .description{
                        font-size: 0.8em;
                        color: var(--gray-70);
                    }
                }
            }
        }

        .right {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            
            .link-section {
                border-radius: 10px;
                display: flex;
                padding: 34px;
                align-items: start;
                justify-content: space-between;
                background-color: var(--dark-10);
                gap: 20px;
                padding-left: 60px;
                padding-right: 60px;
                height: 100%;

                .section {
                    display: flex;
                    flex-direction: column;
                    gap: 1.2em;
                    
                .title {
                    font-family: var(--font-family-mono);
                    text-transform: uppercase;
                    font-size: 1em;
                    font-weight: 500;
                    color: var(--blue-95);
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    gap: 0.6em;

                    a {
                        font-family: var(--font-family-flex);
                        font-size: 0.8em;
                        color: var(--gray-70);
                        transition: var(--transition-base);

                        &:hover {
                            color: var(--blue-60);
                        }
                    }
                }
            }
            }
        }

        .bottom-section{
            border-radius: 10px;
            display: flex;
            padding: 34px;
            align-items: center;
            justify-content: space-between;
            background-color: var(--dark-10);
            gap: 20px;
            padding-left: 60px;
            padding-right: 60px;

            .copyright{
                font-family: var(--font-family-mono);
                font-size: 0.8em;
                color: var(--gray-70);
            }

            .links{
                display: flex;
                gap: 20px;

                a{
                    font-family: var(--font-family-mono);
                    font-size: 0.8em;
                    color: var(--gray-70);
                    transition: var(--transition-base);

                    &:hover{
                        color: var(--blue-60);
                    }
                }
            }
        }
    }
}