@use './variables.scss' as *;
@use './mixins.scss' as *;
@use 'bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--gray-40);
  background-color: var(--dark-06);
  font-family: var(--font-family-flex);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main-content {
  @include container;
  flex: 1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Responsive Typography
html {
  font-size: 16px;

  @include mobile {
    font-size: 14px;
  }
}