@import './variables.scss';
@import 'bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;
  margin: 0 2.5dvw;
}

button {
    border: none;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--blue-95);
}

p{
    margin: 0;
}